:root {
   --cor-de-fundo: #340303;
   --cor-de-texto-principal: #eb210a;
   --cor-de-texto-secundário: #a3348d;
   --botão-ativo: #13249f;
   --botao-inativo: #b5b2b2;
}

body {
   font-family: "Raleway", sans-serif;
   background: var(--cor-de-fundo);
   color: var(--cor-de-texto-principal);
}

.conteudo-principal {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   max-width: 1200px;
   width: 100%;
   margin: 0 auto;

}

.titulo-principal {

   text-align: left;
   width: 100%;
   font-size: 32px;
}


.botao {
   background-color: var(--botão-ativo);
    display: flex;
   justify-content: center;
   padding: lem;
   font-size: 18px;
   align-items: center;
   width: 100%;
   border-bottom: 4px solid var(--botão-ativo);
   border-left: 4px solid var(--botão-ativo);
   border-right: 2px solid var(var(--botão-ativo));
   border-top: none;
}

.botao:first-child{
      border-radius: 40px 40px 0 0;
}

.botao.ativo{
   background-color: var(--botão-ativo);
   border-bottom: 4px solid grey;

}
.aba-conteudo.ativo{
       display:block
}
.aba--conteudo{
   display: none;

}
.abas-texto{
    background-color:var(--botao-inativo);
    padding:  40px;
    border-radius: 0 0 40px 40px;

}

.conteudo-titulo-principal{
   font-size: 28;
   text-align: center;
}
.conteudo-titulo-secundario{
   text-align: center;
   color: #b0e4cc var(--cor-texto-secundaria);
   text-transform: uppercase;
}
.contador{
   display: flex;
   justify-content: center;
   flex-wrap: wrap;
}
.contador-digito{
   padding: 0 16px;
   text-align: center;
   min-height: 100px;

}
.contador-digito-numerico{
   font-size: 80px;
   margin: 0;
   
}
.contador-digito-texto{
   color: aliceblue var(--cor-de-texto-secundário);
   font-size: 20px;
   margin: 0;
}



@media screen and (min-width: 768px){

        .botoes{
             display: flex;
        }
.botao:first-child{
border-radius: 40px 0 0 0;
}
   .botao:last-child{
border-radius: 0 40px 0 0;
}
}
.conteudo-principal{
      font-size: 28px;
      text-align: center;
}
